@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #8caaee;
    --color-secondary: #a6d189;
    --color-background: #303446;
    --color-surface: #414559;
    --color-text: #c6d0f5;
    --color-text-secondary: #b5bfe2;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-surface);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

aside {
  view-transition-name: exclude;
}

select {
  appearance: none;
  background-color: var(--color-surface);
  border: none;
  border-radius: 0.375rem;
  color: var(--color-text);
  padding: 0.5rem 1rem;
}

select:focus {
  outline-color: var(--color-background);
}
